* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

label {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

input {
  margin: 20px;
  padding: 10px;
  width: 80%;
  outline: none;
}

.meal__container {
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.meal__block {
  width: 30%;
}

.meal__img {
  width: 100%;
  /* height: 100%; */
}

.meal__desc {
  text-align: center;
  font-size: 16px;
}

.meal__category {
  font-size: 20px;
}

.modal__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__img {
  width: 500px;
  height: 500px;
}
